body  {

  font-family: geneva, verdana, helvetica, arial black, bookman old style;
  font-size: 15px;
  color: white;

  background-color: rgb(91,238,99);

  }

p  {

line-height: 1.2em;
font-weight: lighter;
background-image: url(images/grass.jpg);
border: thick black inset;

  }

h1  {

  background-color: darkgreen;
  text-align: center;

  }

h2  {

    background-color: darkgreen;
  font-size: 1.4em;
  text-align: center;

  }

h3  {

    background-color: darkgreen;
  text-align: center;

    }


#OrderedList  {

background-color: magenta;
padding: 20px;
border-color: black;
border-width: 2px;
border-style: solid;

  }



img  {

display: block;
margin-left: auto;
margin-right: auto;

  }

.highlight  {

background-color: #ffff00;

  }

.lists  {

box-shadow: 10px;

}


a:link  {

color: blue;

  }

a:visited  {

color: #8C8cD9;

  }

a:hover  {

color: #F15A51;

  }
